html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* prevents horizontal scroll */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f3f3;
}
