/* src/components/Navbar/Navbar.css */
.navbar {
 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(198, 236, 236);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo{
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}


.navbar .links a {
  width: 30%;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar .links a:hover {
  color: rgb(255, 255, 255);


}

