
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-size: 30px;
  
}

body{
  background-color: rgb(236, 232, 232);
}

.btn{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 1.4rem;
}