* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.top {
    padding: 1rem;
    background-color: black;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0px 100%);
}

.nav img {
    height: 4rem;
    border-radius: 2rem;
    cursor: pointer;

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav ul li {
    letter-spacing: 1px;
    padding: 0.3rem 1.5rem;

}

.nav ul li:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    border-radius: 5px;
    cursor: pointer;


}


.desc {
    margin: 2rem;
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: black;
    flex-direction: column;
}

.desc h1 {
    font-weight: 800;
    font-size: 4.5rem;
    letter-spacing: 1px;
}

.desc p:nth-child(3) {
    color: rgb(181, 174, 174)
}


.btn {
    margin-top: 2rem;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    cursor: pointer;
}



.btn:hover {
    margin-top: 2rem;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1rem;

    border: 2px solid white;
}

.body {
    height: 95vh;
    display: flex;
    justify-content: start;
    align-items: start;


}

.img {
    height: 90vh;
    background-color: black;
    width: 50%;
   padding-top: 2rem;

}

.img img {
   height: 114%;
   width: 100%;
   object-fit: cover;
   
}


.middle {
    background-color: white;


    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.middle h1 {
    margin: 1rem auto;

}


.projects {
    width: 80vw;
   
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 2rem;

}

.proj {
    height: 360px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: start;

    flex-direction: column;

}

.proj:nth-child(even) {
    height: 300px;
}


.proj img {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 5px solid white;
}

.proj img:hover {
    transition: 0.3s all ease;
    transform: translateY(5px);
    border: 5px solid rgb(189, 188, 188);
}

.contact {
    background-color: rgb(211, 211, 211);
 
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formc {
    margin: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 30%;

}

.formc h1 {

    text-align: center;
}


.form-input,
.form-textarea {
    margin: 1rem 0;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #1a202c;
    transition: border-color 0.3s ease-in-out;
    border-radius: 0.37rem;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #6b7280;
}

.form-input {
    border: none;
    border-bottom: 2px solid #d1d5db;
    background-color: transparent;
}

.form-input:focus {
    outline: none;
    border-bottom-color: #6b7280;
}

.form-textarea {
    border: 2px solid #d1d5db;
    resize: none;
    min-height: 10rem;
}

.form-textarea:focus {
    outline: none;
    border-color: #6b7280;
}

.btn-2 {

    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    cursor: pointer;
}

.btn-2:hover {

    background-color: white;
    color: black;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 700;
    padding: 0.5rem 1rem;


}


.bottom{
   
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.bottom h1{
    margin: 2rem 0;
}
.bottom h2{
    margin: 0.6rem 0;
}
.bottom h2:nth-child(2){
    text-decoration: underline;
}
.bottom img{
    height: 50px;
    margin-bottom: 4rem;
}

@media screen and (max-width:600px){
    .nav {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
   

}

.nav ul{
    flex-direction: column;
}
.body{
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: auto;
    
}

.desc{
    margin-top: 3rem;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: start;
    align-items: center;
    height: auto;
}

.formc{
    width: 100%;
    margin: 3rem 0;
}
.img{
    height: auto;
}
.img img{
    visibility: hidden;
}
}