/* Container */
.homecont {
  width: 100%;
  min-height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.homecont .hh {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}

/* Products Grid */
.products {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 90%;
  
}

/* Individual Product Card */
.product-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* Product Image */
.product-image {
  border: 2px solid rgba(0, 0, 0, 0.315);
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 1rem;
}

/* Product Title */
.product-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Product Price */
.product-price {
  font-size: 1rem;
  font-weight: 500;
  color: #e07b39;
  margin-bottom: 2rem;
}

/* Loading Text */
.loading {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}


.btn{
  background-color: #0ab350;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover{
  background-color: #3be09b;
}
