/* Container for the whole Home page */
.home-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items:center ;
  min-height: 100vh;
  width: 100%;

  box-sizing: border-box;
  background: linear-gradient(135deg, #f9d5d3, #fcd6a6);
}


/* Carousel wrapper */
.carousel-wrapper {
    margin-bottom: 10px;
background-color: yellow;
    width: 70vw;
  height: 60vh;

  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Each slide */
.slide {
  width: 100%;
  height: 60vh;
  background-size: contain;
}

/* Swiper pagination dots customization */
.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}
